<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Verdandi</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-icons.css" rel="stylesheet">
    </head>

    <body>
        <main>
            <section class="hero" id="hero">
                <div class="heroText">
                    <h1 class="text-white mt-5 mb-lg-4" data-aos="zoom-in" data-aos-delay="800">
                        Verdandi
                    </h1>
                    <p class="text-secondary-white-color" data-aos="fade-up" data-aos-delay="1000">
                        L'association de danse et de musique à Metz !
                    </p>
                </div>
                <div class="videoWrapper">
                  <%= video_tag "silouhette.mp4", autoplay: :autoplay, loop: :loop, muted: :muted %>
                </div>
                <div class="overlay"></div>
            </section>

            <nav class="navbar navbar-expand-lg bg-light shadow-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <strong>Verdandi</strong>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#hero">Accueil</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="btnMembers">Les membres</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="btnGalerie">Galerie</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="btnEvents">Evenements</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="btnContact">Contacter-nous</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <section class="section-padding pb-0" id="about">
                <div class="container mb-5 pb-lg-5">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mb-3" data-aos="fade-up">Verdandi c'est quoi ?</h2>
                        </div>

                        <div class="col-lg-6 col-12 mt-3 mb-lg-5">
                            <p class="me-4" data-aos="fade-up" data-aos-delay="300">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        </div>

                        <div class="col-lg-6 col-12 mt-lg-3 mb-lg-5">
                            <p data-aos="fade-up" data-aos-delay="500">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        </div>

                    </div>
                </div>
                <div class="bg-light p-5">
                  <h2 class="text-center" id="members">Les membres</h2>

                            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>

                              </ol>
                              <div class="carousel-inner text-center">
                                <div class="carousel-item active">
                                  <%= image_tag '1.png', class:"tester" %>
                                </div>
                                <div class="carousel-item">
                                  <%= image_tag '2.png', class:"tester" %>
                                </div>
                                <div class="carousel-item">
                                  <%= image_tag '3.png', class:"tester" %>
                                </div>
                                <div class="carousel-item">
                                  <%= image_tag '4.png', class:"tester" %>
                                </div>
                                <div class="carousel-item">
                                  <%= image_tag '5.png', class:"tester" %>
                                </div>
                                <div class="carousel-item">
                                  <%= image_tag '6.png', class:"tester" %>
                                </div>
                                <div class="carousel-item">
                                  <%= image_tag '7.png', class:"tester" %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

            </section>

            <section class="section-padding" id="portfolio">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="mb-5 text-center" data-aos="fade-up" id="galerie">Galerie</h2>
                        </div>


                      <section class="gallery">
                        <div class="gallery__item">
                          <input type="radio" id="img-1" checked name="gallery" class="gallery__selector"/>
                          <img class="gallery__img" src="https://picsum.photos/id/1015/600/400.jpg" alt=""/>
                          <label for="img-1" class="gallery__thumb"><img src="https://picsum.photos/id/1015/150/100.jpg" alt=""/></label>
                        </div>
                        <div class="gallery__item">
                          <input type="radio" id="img-2" name="gallery" class="gallery__selector"/>
                          <img class="gallery__img" src="https://picsum.photos/id/1039/600/400.jpg" alt=""/>
                          <label for="img-2" class="gallery__thumb"><img src="https://picsum.photos/id/1039/150/100.jpg" alt=""/></label>
                        </div>
                        <div class="gallery__item">
                          <input type="radio" id="img-3" name="gallery" class="gallery__selector"/>
                          <img class="gallery__img" src="https://picsum.photos/id/1057/600/400.jpg" alt=""/>
                          <label for="img-3" class="gallery__thumb"><img src="https://picsum.photos/id/1057/150/100.jpg" alt=""/></label>
                        </div>
                        <div class="gallery__item">
                          <input type="radio" id="img-4" name="gallery" class="gallery__selector"/>
                          <img class="gallery__img" src="https://picsum.photos/id/106/600/400.jpg" alt=""/>
                          <label for="img-4" class="gallery__thumb"><img src="https://picsum.photos/id/106/150/100.jpg" alt=""/></label>
                        </div>
                      </section>

                    </div>
                </div>
            </section>

            <section class="news section-padding" id="news">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="mb-5 text-center" data-aos="fade-up" id="events">News & Events</h2>
                        </div>

                        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                            <div class="news-thumb" data-aos="fade-up">
                                <a href="news-detail.html" class="news-image-hover news-image-hover-warning">
                                    <img src="images/news/caroline-lm-uqveD8dYPUM-unsplash.jpg" class="img-fluid large-news-image news-image" alt="">
                                </a>

                                <div class="news-category bg-warning text-white">News</div>

                                <div class="news-text-info">
                                    <h5 class="news-title">
                                        <a href="news-detail.html" class="news-title-link">The rise of the gig economy spells the end for these workers the old system</a>
                                    </h5>

                                    <span class="text-muted">22 hours ago</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="news-thumb news-two-column d-flex flex-column flex-lg-row" data-aos="fade-up">
                                <div class="news-top w-100">

                                    <a href="news-detail.html" class="news-image-hover news-image-hover-primary">
                                        <img src="images/news/jean-philippe-delberghe-MmanXAs1sKw-unsplash.jpeg" class="img-fluid news-image" alt="">
                                    </a>

                                    <div class="news-category bg-primary text-white">Events</div>
                                </div>

                                <div class="news-bottom w-100">
                                    <div class="news-text-info">
                                        <h5 class="news-title">
                                            <a href="news-detail.html" class="news-title-link">Job Opportunities: Digital, Marketing</a>
                                        </h5>

                                        <div class="d-flex flex-wrap">
                                            <span class="text-muted me-2">
                                                <i class="bi-geo-alt-fill me-1 mb-2 mb-lg-0"></i>
                                                Alaska,
                                            </span>

                                            <span class="text-muted">August 6, 2021</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="news-thumb news-two-column d-flex flex-column flex-lg-row" data-aos="fade-up">
                                <div class="news-top w-100" data-aos="fade-up">

                                    <a href="news-detail.html" class="news-image-hover news-image-hover-success">
                                        <img src="images/news/maria-stewart-p4tj0g-_aMM-unsplash.jpeg" class="img-fluid news-image" alt="">
                                    </a>

                                    <div class="news-category bg-success text-white">News</div>
                                </div>

                                <div class="news-bottom w-100">
                                    <div class="news-text-info">
                                        <h5 class="news-title">
                                            <a href="news-detail.html" class="news-title-link">What happened to new viral video?</a>
                                        </h5>

                                        <span class="text-muted">6 days ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class=" contact section-padding" id="contact">
                <div class="container">
                    <div class="row">
                      <div class="col-lg-7 col-12 mx-auto">
                        <h2 class="mb-4 text-center" data-aos="fade-up">Besoin de nous contacter ? </h2>
                        <div class="container" data-aos="fade-up">
                          <%= simple_form_for @message do |f| %>
                            <div class="row">
                              <div class="col-lg-6 col-6">
                                <%= f.input :name, label:"Name", class:"form-controle" %>
                              </div>
                              <div class="col-lg-6 col-6">
                                <%= f.input :email, label:"Email", class:"form-control" %>
                              </div>
                              <div class="col-12 my-4">
                                <%= f.input :content, label:"Comment nous pouvons vous aider ?", class:"form-control" %>
                              </div>
                              <div class="col-12">
                                <%= f.input :subject %>
                              </div>
                                <%= f.button :submit, class:"btn btn-primary" %>
                            <% end %>
                        </div>
                      </div>
                    </div>
                </div>
            </section>

            <section class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2611.2092389977292!2d6.179239415943439!3d49.12066117931405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794dea73d10556d%3A0x3a0de75e0fae3ad4!2sConservatoire%20%C3%A0%20rayonnement%20r%C3%A9gional%20de%20Metz%20M%C3%A9tropole%20Gabriel-Piern%C3%A9!5e0!3m2!1sfr!2sfr!4v1642936419987!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </section>

        </main>



        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h5 class="text-white">
                            <i class="bi-geo-alt-fill me-2"></i>
                            Verdandi, Metz
                        </h5>

                        <a href="mailto:info@company.com" class="custom-link mt-3 mb-5">
                            verdandi@gmail.com
                        </a>
                    </div>

                    <div class="col-6">
                        <p class="copyright-text mb-0">Copyright © Verdandi 2022

                    </div>

                    <div class="col-lg-3 col-5 ms-auto">
                        <ul class="social-icon">
                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                        </ul>
                    </div>

                </div>
            </section>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/magnific-popup-options.js"></script>
        <script src="js/scrollspy.min.js"></script>
        <script src="js/custom.js"></script>

    </body>
</html>
